
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Server Browser</title>

    <link rel="stylesheet" href="style.css">

    <!-- Tailwind v3 -->
    <link
            href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css"
            rel="stylesheet"
    />


    <!-- SweetAlert2 -->
    <script src="sweetalert2.all.js"></script>

</head>

<body>
    <div id="app">
        <div id="server-browser" class="flex flex-col">
            <div class="flex flex-row flex-nowrap justify-between items-center" style="flex-shrink: 0;">
                <h1 class="header">Server Browser</h1>
                <h2 class="header" style="color: #719ac490;">Players: {{ playerCount() }}</h2>
            </div>
            <div class="flex flex-row flex-nowrap overflow-hidden">
                <div class="w-3/4 overflow-y-scroll">
                    <div class="flex flex-col w-full">
                        <template v-for="(server, index) in servers">
                            <div class="h-18 flex flex-row flex-nowrap items-center items-stretch w-full border-t-2 border-b-2 border-transparent" :class="{ 'focussed': server.url === focussedServer?.url }" @mouseover="setFocussedServer(server)">
                                <div class="mr-1 w-24 flex items-center justify-center" :class="{ 'bg-dark-10': server.url !== focussedServer?.url }" style="color: rgba(255, 255, 255, 0.5);">
                                    <template v-if="server.passworded">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                            <path fill-rule="evenodd" d="M12 1.5a5.25 5.25 0 00-5.25 5.25v3a3 3 0 00-3 3v6.75a3 3 0 003 3h10.5a3 3 0 003-3v-6.75a3 3 0 00-3-3v-3c0-2.9-2.35-5.25-5.25-5.25zm3.75 8.25v-3a3.75 3.75 0 10-7.5 0v3h7.5z" clip-rule="evenodd" />
                                        </svg>
                                    </template>
                                </div>
                                <div class="px-3 py-2 flex flex-col w-full" :class="{ 'bg-dark-10': server.url !== focussedServer?.url }">
                                    <div class="flex">
                                        <span class="text-white font-semibold">{{ server.name }}</span>
                                    </div>
                                    <div class="flex flex-row flex-nowrap gap-3">
                                        <span class="text-white opacity-75">{{ server.map }}</span>
                                        <span class="text-white opacity-75">-</span>
                                        <span class="text-white opacity-75">{{ server.variant }}</span>
                                    </div>
                                </div>
                                <div class="mx-1 w-24 flex items-center justify-center" :class="{ 'bg-dark-10': server.url !== focussedServer?.url }">
                                    <span class="text-white">{{ server.numPlayers }}</span>
                                    <span class="text-white opacity-75">/</span>
                                    <span class="text-white opacity-75">{{ server.maxPlayers }}</span>
                                </div>
                                <div class="w-24 flex items-center justify-center" :class="{ 'bg-dark-10': server.url !== focussedServer?.url }">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4" :class="{'text-red-500': server.ping >= 200, 'text-yellow-500': server.ping >= 100 && server.ping < 200, 'text-green-500': server.ping < 100 }">
                                        <path d="M15.5 2A1.5 1.5 0 0014 3.5v13a1.5 1.5 0 001.5 1.5h1a1.5 1.5 0 001.5-1.5v-13A1.5 1.5 0 0016.5 2h-1zM9.5 6A1.5 1.5 0 008 7.5v9A1.5 1.5 0 009.5 18h1a1.5 1.5 0 001.5-1.5v-9A1.5 1.5 0 0010.5 6h-1zM3.5 10A1.5 1.5 0 002 11.5v5A1.5 1.5 0 003.5 18h1A1.5 1.5 0 006 16.5v-5A1.5 1.5 0 004.5 10h-1z" />
                                    </svg>
                                    <span class="ml-1 text-white">{{ server.ping }}</span>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
                <template v-if="focussedServer">
                    <div class="w-1/4">
                        <div class="p-6 flex flex-col" style="height: 100%;background: rgba(0, 0, 0, 0.1);">
                            <h2 class="text-lg text-white font-bold">{{ focussedServer.name }}</h2>
                            <div class="mt-6">
                                <img src="assets/maps/small/zanzibar.png">
                            </div>
                            <div class="mt-6 p-6" style="background: rgba(0, 0, 0, 0.1);">
                                <h3>Scoreboard</h3>
                                <table class="text-white">
                                    <thead>
                                        <th>Name</th>
                                        <th>Score</th>
                                    </thead>
                                    <tbody>
                                        <tr v-for="player in focussedServer.players">
                                            <td>{{ player.name }}</td>
                                            <td>{{ player.score }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>
    <script crossorigin src="dew://lib/dew.js"></script>
    <script crossorigin src="./ui.js"></script>
    <script crossorigin src="https://unpkg.com/vue@next"></script>
    <script src="browser.js" type="text/javascript"></script>
</body>

</html>
