
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Server Browser</title>

    <link rel="stylesheet" href="style.css">

    <!-- Tailwind v3 -->
    <link
            href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css"
            rel="stylesheet"
    />


    <!-- SweetAlert2 -->
    <script src="sweetalert2.all.js"></script>

</head>

<body>
    <div id="app">
        <div id="server-browser" class="flex flex-col">
            <div class="flex flex-row flex-nowrap justify-between items-center" style="flex-shrink: 0;">
                <h1 class="header">Server Browser🍺</h1>
                <h2 class="header" style="font-size: 3.33vh;">In Game: {{ playerCount() }}</h2>
            </div>
            <div class="flex flex-row flex-nowrap overflow-hidden">
                <div class="w-3/4 overflow-y-scroll">
                    <div class="flex flex-col w-full">
                        <template v-for="(server, index) in servers">
                            <div class="mb-1 flex flex-row flex-nowrap items-center items-stretch w-full" @mouseover="setFocussedServer(server)">
                                <div class="px-6 py-2 flex flex-col w-full" style="background-color: #1b294690;">
                                    <div class="flex">
                                        <span class="text-white font-semibold">{{ server.name }}</span>
                                    </div>
                                    <div class="flex flex-row flex-nowrap gap-3">
                                        <span class="text-white opacity-75">{{ server.map }}</span>
                                        <span class="text-white opacity-75">-</span>
                                        <span class="text-white opacity-75">{{ server.variant }}</span>
                                    </div>
                                </div>
                                <div class="mx-1 w-24 flex items-center justify-center gap-1" style="background-color: #1b294690;">
                                    <span class="text-white">{{ server.numPlayers }}</span>
                                    <span class="text-white opacity-75">/</span>
                                    <span class="text-white opacity-75">{{ server.maxPlayers }}</span>
                                </div>
                                <div class="w-24 flex items-center justify-center" style="background-color: #1b294690;">
                                    <span
                                            class="font-semibold opacity-90"
                                            :class="{'text-red-500': server.ping >= 200, 'text-yellow-500': server.ping >= 100 && server.ping < 200, 'text-green-500': server.ping < 100 }"
                                    >{{ server.ping }}</span>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
                <template v-if="focussedServer">
                    <div class="w-1/4">
                        <div class="p-6 flex flex-col">
                            <h2 class="text-lg text-white font-bold">{{ focussedServer.name }}</h2>
                            <div class="mt-6 p-6" style="background-color: #1b294690;">
                                <h3>Scoreboard</h3>
                                <table class="text-white">
                                    <thead>
                                        <th>Name</th>
                                        <th>Score</th>
                                    </thead>
                                    <tbody>
                                        <tr v-for="player in focussedServer.players">
                                            <td>{{ player.name }}</td>
                                            <td>{{ player.score }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>
    <script crossorigin src="dew://lib/dew.js"></script>
    <script crossorigin src="./ui.js"></script>
    <script crossorigin src="https://unpkg.com/vue@next"></script>
    <script src="browser.js" type="text/javascript"></script>
</body>

</html>